#:schema https://jj-vcs.github.io/jj/prerelease/config-schema.json

[user]
name = "Stephen Jennings"

[git]
push-new-bookmarks = true
push-bookmark-prefix = 'jennings/'
private-commits = 'private()'

[ui]
editor = "nvim -n"
diff-editor = "bc"
merge-editor = "bc"

default-command = "log"

# paginate with delta
diff-formatter = ":git"
pager = ["delta", "--hunk-header-style", "plain"]
paginate = "auto"

[merge-tools.kdiff3]
edit-args = ["--merge", "--cs", "CreateBakFiles=0", "$left", "$left", "$right"]

[merge-tools.bc]
program = "bcomp"
{{ if eq .chezmoi.os "windows" }}
diff-args = ["$left", "$right", "/leftreadonly", "/rightreadonly", "/expandall"]
edit-args = ["$left", "$right", "/leftreadonly", "/expandall"]
merge-args = ["$left", "$right", "$base", "$output", "/expandall", "/automerge", "/reviewconflicts"]
{{ else }}
diff-args = ["$left", "$right", "-leftreadonly", "-rightreadonly", "-expandall"]
edit-args = ["$left", "$right", "-leftreadonly", "-expandall"]
merge-args = ["$left", "$right", "$base", "$output", "-expandall", "-automerge", "-reviewconflicts"]
{{ end }}

[merge-tools.difft]
diff-args = ["$left", "$right"]
edit-args = ["$left", "$right"]

[merge-tools.difftinline]
program = "difft"
diff-args = ["$left", "$right", "--display", "inline"]

[merge-tools.mergiraf]
program = "mergiraf"
merge-args = ["merge", "$base", "$left", "$right", "-o", "$output", "-l", "$marker_length", "--fast"]
merge-conflict-exit-codes = [1]

[revsets]
log-graph-prioritize = 'trunk() | present(@)'

[revset-aliases]
'default()' = 'present(@) | ancestors(immutable_heads().., 2) | present(trunk())'

# `additional_immutable_heads()` exists to add immutable heads in a repo's
# config without redefining the entire revset
'immutable_heads()' = 'builtin_immutable_heads() | additional_immutable_heads()'
'additional_immutable_heads()' = 'none()'

# Explain why a revision is immutable
'why_immutable(r)' = 'r | roots(r:: & immutable_heads())'

# View the entire branch being worked on
'slice()' = 'slice(@)'
'slice(from)' = 'ancestors(reachable(from, mutable()), 2)'

# All my commits that haven't landed yet. I use this one constantly.
'open()' = 'open(mine())'
'open(domain)' = 'ancestors(domain ~ ::immutable_heads(), 2) ~ ::trunk()'
'open_bookmarks()' = 'ancestors((mine() & bookmarks()) ~ ::immutable_heads(), 2)'

'scrap' = 'reachable(open() & description(exact:""), mutable())'

# All open remote branches
'ropen()' = 'ancestors(::remote_bookmarks() ~ immutable(), 2)'

# Work in progress
'wip()' = 'description(glob:"wip:*") ~ ::immutable_heads()'

# Any commits considered private by git.private-commits
'private()' = '(description(glob:"private:*") | description(glob:"wip:*"))'

# Branches that are already contained in the trunk (or any other commit)
'cleanup()' = '(bookmarks() | remote_bookmarks()) & ::immutable_heads() ~ immutable_heads()'

# Shows recent work with a little bit of context
'recent()' = 'recent(after:"14 days ago")'
'recent(when)' = '''
    ancestors(
        reachable(
            immutable_heads()..(@ | committer_date(when)::),
            mutable()),
        2)
    | trunk()
'''

# view a revision's ancestry back to where it diverged from trunk()
'stack()' = 'stack(@)'
'stack(from)' = 'ancestors((immutable()..from) | from::, 2)'

# see the ancestry of two heads back to where they diverged
# usage: compare(abc | foo | bar)
'compare(heads)' = 'connected(ancestors(::heads ~ ::trunk(), 2)) | heads'

# @ is annoying to type in PowerShell
at = "@"

[aliases]
logc = ["log", "-T", "builtin_log_comfortable"]

slice = ["log", "-r", "slice()"]
stack = ["log", "-r", "stack()"]

# Insert's a new commit without editing it. Expected usage:
#
#   $ jj insert -B xyz -m "foo"
insert = ["new", "--no-edit"]

# if you've checked out an old commit that is no longer ignoring huge files in
# your working copy, prefix a command with no-track to escape:
#
#   $ jj no-track new main
no-track = ["--config", "snapshot.auto-track='none()'"]

# Enables paging
pager = ["--config", 'ui.pager=["delta", "--hunk-header-style", "plain"]']

# abbreviations
sq = ["squash"]
ws = ["workspace"]
dup = ["duplicate"] # am I gen Z?

# viewing history
open = ["log", "-r", "open(mine())"]

dt = ["diff", "--tool", "bc"]
difftool = ["diff", "--tool", "bc"]

# navigating
n = ["next", "--edit"]
p = ["prev", "--edit"]

# bring a branch up to date with trunk()
# works with `jj update` alone or with `-b REV`
up = ["rebase", "--skip-emptied", "-d", "trunk()"]

simplify = ["simplify-parents", "-s", "roots(slice(@) ~ immutable())"]

# I am rude
blame = ["file", "annotate"]
